.OrderSummary {
    width: 420px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid rgb(186, 186, 186);
    line-height: 1.4em;
    button {
        background: #5469d4;
        font-family: Arial, sans-serif;
        color: #ffffff;
        border-radius: 4px;
        border: 0;
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        display: block;
        transition: all 0.2s ease;
        box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
        width: 100%;
    }
    button:hover {
        filter: contrast(120%);
        cursor: pointer;
    }
    button:disabled {
        opacity: 0.5;
    } 
}
