.Shipping {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
    .Shipping_Next {
        border-radius: 6px;
        margin-bottom: 16px;
        padding: 12px;
        border: 1px solid rgba(50, 50, 93, 0.1);
        max-height: 44px;
        font-size: 16px;
        width: 100%;
        background: white;
        box-sizing: border-box;

        margin-top: 10px;
        background-color:  #5469d4;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    .Shipping_Error {
        background-color: rgb(249, 64, 64);
        padding: 5px;
        color: white;
    }
    .Shipping_Form {
        background-color: lightgrey;
        width: 30vw;
        min-width: 500px;
        align-self: center;
        box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
        0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
        border-radius: 7px;
        padding: 40px;
    }

    .Shipping_Input {
        border-radius: 6px;
        margin-bottom: 16px;
        padding: 12px;
        border: 1px solid rgba(50, 50, 93, 0.1);
        max-height: 44px;
        font-size: 16px;
        width: 100%;
        background: white;
        box-sizing: border-box;
    }
}
