.SummaryHeader {
    .SummaryHeader_Title {
        display: flex;
        justify-content: center;
        font-weight: bolder;
        font-size: 1.5em;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .SummaryHeader_Order {
        display: flex;
        justify-content: right;
        align-items: center;
        margin-top: 10px;
        padding: 5px;
        div {
            font-size: larger;
        }
    }
}
