.SummaryItems{
    padding-top: 5px;
    .SummaryItems_Table {
        width: 100%;
        border-collapse: collapse;
        tbody {
            tr {
                border-bottom: 1px solid rgb(209, 209, 209);
                td {
                    padding: 5px;
                }
            }
        }
    }
    .SummaryItems_Amount {
        display: flex;
        justify-content: right;
        padding: 10px;
    }
    .SummaryItems_TD_Right {
        text-align: right;
        padding-right: 5px;
    }
}
