.Feature {
    background-color: rgb(233, 233, 233);
    padding: 10px;
    table {
        tbody {
            tr {
                td {
                    padding: 2px;
                }
            }
        }
    }
    .Feature_Description {
        width: 200px
    }
    .Feature_Value {
        width: 70px
    }
}
