.Nav {
    width: 100%;
    background-color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    a:link, a:visited {
        background-color: #979797;
        color: white;
        padding: 5px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        min-width: 70px;
    }
    a:hover, a:active {
        background-color: rgb(67, 67, 67);
    }
    .Nav_Nav {
        padding-left: 8px;
    }
    .Nav_Title {
        color: rgb(255, 157, 0);
        margin-right: 50px;
        font-size: 1.5em;
        font-weight: bolder;
        min-width: 170px;
    }
    .Nav_Login {
        margin-right: 10px;
        button {
            padding-right: 10px;
            padding-left: 10px;
            height: 35px;
        }
    }
}
