.Products {
    margin: 5px;
    select {
        padding: 10px;
        width: 500px;
        border-radius: 5px;
        border: none;
        height: 42px;
        font-size: larger;
        color: rgb(75, 75, 75);
    }
}