.ShoppingCartItems {
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    .ShoppingCartItems_Table {
        border-collapse: collapse;
        tbody {
            tr {
                border-bottom: 1px solid gray;
                td {
                    padding: 5px;
                }
            }
        }
    }
    .ShoppingCartItems_Total {
        padding: 10px;
    }
    button {
        background-color: darkgray;
        padding: 5px;
        min-width: 50px;
        border-radius: 3px;
        color: white;
        font-weight: bolder;
        cursor: pointer;
    }
    button:hover {
        filter: contrast(120%);
    }
}