.SpecTable{
    margin: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    table {
        margin: 10px;
        width: 350px;
        border-collapse: collapse;
        thead {
            font-weight: bold;
            tr {
                background-color: rgb(228, 228, 228);
                border-bottom: 1px solid rgb(21, 21, 21);
                td {
                    padding: 3px;
                }
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid rgb(21, 21, 21);
                td {
                    padding: 3px;
                }
            }
        }
    }

}